@import './varibles.styl'
@font-face {
  font-family: 'iconfont';  /* project id 634535 */
  src: url('//at.alicdn.com/t/font_634535_klmpizu9sfdjwcdi.eot');
  src: url('//at.alicdn.com/t/font_634535_klmpizu9sfdjwcdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_634535_klmpizu9sfdjwcdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_634535_klmpizu9sfdjwcdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_634535_klmpizu9sfdjwcdi.svg#iconfont') format('svg');
}
.iconfont{
  font-family: 'iconfont';
}
html,body
  background:#f6f6f6
.w
  width:1080px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; 
.panel
  padding: 10px
  margin-bottom: 10px
  background: $white
  .panel-title
    padding: 
    font-size: 14px
    color: #666
    font-weight: bold
    border-bottom: 1px solid #eee
    .panel-body
      padding: 10px
      overflow: hidden
.hide
  display: none
.link
  color: #999
  cursor: pointer
  text-decoration: none
  &:hover
    color: $subjectColor
.link-text
  color: #999
  
.btn
  display: inline-block
  padding: 0 20px
  height: 40px
  line-height: 40px
  vertical-align: middle
  border: none
  background: #c60023
  font-size: 17px
  font-weight: bold
  color: #fff
  outline: none
  cursor: pointer
  
.btn-mini
  height: 25px
  line-height: 25px
  font-size: 12px
  padding: 0 10px

.crumb
  margin-bottom: 15px
  height: 50px
  line-height: 50px
  background: #eee
  color: #888
  font-size: 14px
  border-top: 2px solid $subjectColor
  
.loading
  margin: 10px auto
  display: block
  border: 1px solid #ddd
  border-radius: 5px
  width: 65px
  height: 65px
  opacity: .6

.clearfix
  zoom: 1
  &:after
    display: block
    content: " "
    width: 0
    height: 0
    clear: both