/* 省略号 */
ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  
/* 垂直居中的方法 */
posi-center()
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  
/* 这里是单边的垂直居中方法 */
posi-top-bottom()
  position: absolute
  top: 50%
  transform: translateY(-50%)

// 垂直居中 transform: translate(-50%, -50%) 会使元素的宽为一半的大小
posi-trans()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)