ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  
/* 垂直剧中的方法 */
posi-center()
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  
posi-trans()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)